#contact {
  margin: 0px auto;
  background-color: $background-color;
  color: $primary-color;

  @include respond(tab-land) {
    padding: 0;
    clip-path: none;
    margin-top: 0;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10vw;

    @include respond(tab-land) {
      font-size: $big-font-size;
      align-items: flex-end;
      padding-right: 3px;
      max-width: 100%;
    }
    @include respond(tab-port) {
      font-size: $big-font-size;
      align-items: flex-end;
      padding-right: 3px;
      max-width: 100%;
    }
    @include respond(phone) {
      font-size: $big-font-size;
      align-items: flex-end;
      padding-right: 3px;
      max-width: 100%;
    }
    @include respond(phone-xs) {
      font-size: $big-font-size;
      align-items: flex-end;
      padding-right: 3px;
      max-width: 100%;
    }

    a {
      font-size: $default-font-size;
      color: $primary-color;
      text-transform: capitalize;

      &:hover {
        text-decoration: none;
        color: $accent-color;
      }
    }
  }
}
