#contact {
  padding: 10rem 0 0 0;
  margin-top: 2rem;
  margin-bottom: -1px;
  color: $background-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 0rem;
    padding: 0 0rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
      color: $text-colour;
    }

    &__text,
    a {
      font-size: 1.6rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @include respond(phone) {
    font-size: 1rem;
    align-items: center;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $primary-color;
    font-size: 2rem;
    // width: 3rem;
    // height: 3rem;
    margin: $default-font-size $default-font-size;
    //transition: all 0.2s ease-in;

    &:hover {
      text-decoration: none;
      // border-radius: 3px;
      color: $secondary-color;
    }
  }
}
