#hero {
  display: flex;
  align-items: flex-start;
  min-height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 0px auto;
  border-bottom: 0px;
  background: $background-color;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  position: relative;

  @include respond(phone) {
    padding-top: 3rem;
  }

  .hero-h1 {
    font-size: $mid-font-size;
    color: $text-colour;
    font-weight: 400;
    //position: relative;
    //padding-left: 4rem;
    //left: 5rem;
    text-align: left;
    max-width: 36rem;

    span {
      color: $secondary-color;
      text-decoration: line-through;
    }

    @include respond(tab-land) {
      font-size: 1.5rem;
      left: 0rem;
    }
    @include respond(tab-port) {
      font-size: 1.5rem;
      align-items: center;
      left: 0rem;
      max-width: 100%;
    }
    @include respond(phone) {
      font-size: 1.5rem;
      align-items: center;
      left: 0rem;
      max-width: 100%;
    }
    @include respond(phone-xs) {
      font-size: 1.5rem;
      align-items: center;
      left: 0rem;
      max-width: 100%;
    }
  }

  .hero-h2 {
    font-size: 1.5rem;
    color: $text-colour;
    max-width: 100%;
    font-weight: 400;
    text-align: left;
    padding-top: 4em;

    @include respond(tab-land) {
      font-size: 1.25rem;
      padding-right: 0rem;
    }
    @include respond(tab-port) {
      font-size: 1.25rem;
      align-items: center;
      padding-right: 0rem;
      max-width: 100%;
    }
    @include respond(phone) {
      font-size: 1.25rem;
      align-items: center;
      padding-right: 0rem;
      max-width: 100%;
    }
    @include respond(phone-xs) {
      font-size: 1.25rem;
      padding-right: 0rem;
      max-width: 100%;
    }
  }

  .hero-link {
    font-size: 1.5rem;
    
    a {
      font-size: 1.5rem;
      color: $text-colour;
      font-weight: 400;
      text-align: left;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        //color: $secondary-color;
      }
    }
  }

  .hero-micro {
    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
    padding-top: 1em;
    color: $primary-color;

    @include respond(tab-land) {
      font-size: 100%;
    }
    @include respond(tab-port) {
      font-size: 100%;
      text-align: left;
    }
    @include respond(phone) {
      font-size: 100%;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 100%;
    }
  }

  // &__image {
  //   display: flex;
  //   height: 100%;
  //   align-items: left;
  //   justify-content: center;

  //   @include respond(tab-port) {
  //     padding-bottom: 6.4rem;
  //   }
  //   @include respond(tab-land) {
  //     height: 100%;
  //   }
  // }
}
