#hero {
  display: flex;
  align-items: flex-start;
  min-height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 0px auto;
  border-bottom: 0px;
  background: $background-color;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  position: relative;

  @include respond(phone) {
    padding-top: 3rem;
  }

  .hero-head {
    color: $primary-color;

    a {
      font-size: $default-font-size;
      color: $primary-color;

      &:hover {
        color: $accent-color;
      }
    }
  }

  .hero-h1 {
    color: $text-color;
    text-align: left;
    max-width: 48rem;
    padding-top: 8rem;

    span {
      color: $secondary-color;
      text-decoration: line-through;
    }

    @include respond(tab-land) {
      font-size: 1.5rem;
      left: 0rem;
    }
    @include respond(tab-port) {
      font-size: 1.5rem;
      align-items: center;
      left: 0rem;
      max-width: 100%;
    }
    @include respond(phone) {
      font-size: 1.5rem;
      align-items: center;
      left: 0rem;
      max-width: 100%;
    }
    @include respond(phone-xs) {
      font-size: 1.5rem;
      align-items: center;
      left: 0rem;
      max-width: 100%;
    }

    & a {
      padding-top: 1rem;
      font-size: $big-font-size;
      font-family: 'EB Garamond', serif;
      color: $text-color;
      text-align: left;
      border-bottom: 1px solid $muted-color;

      &:hover {
        border-bottom: none;
      }
    }
  }

  .hero-micro {
    font-size: $small-font-size;
    text-align: left;
    padding-top: 2em;
    color: $muted-color;

    @include respond(tab-land) {
      font-size: 80%;
    }
    @include respond(tab-port) {
      font-size: 80%;
      text-align: left;
    }
    @include respond(phone) {
      font-size: 80%;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 80%;
    }
  }
}
