// COLORS
$primary-color: #100C0D;
$secondary-color: #CC8B65;

$background-color: #013328; // For background

$dark-grey: #E2DCD2; 

$text-colour: #E2DCD2;

// FONT SIZE
$default-font-size: 1.5rem;
$big-font-size: 3em;
$mid-font-size: 2rem;
