// COLORS
$primary-color: #100C0D;
$secondary-color: #013328;

$white-color: #E2DCD2;

$dark-grey: #100C0D; 

$dark-blue-text: #013328; // For Headings

// FONT SIZE
$default-font-size: 1.5rem;
$big-font-size: 3em;
$mid-font-size: 2rem;
