// COLORS
$text-color: #000000;
$background-color: #ffffff;

$primary-color: #002fa7;
$secondary-color: #F9D423;

$accent-color: #FF0000;
$highlight-color: #00e5ee;
$muted-color: #b2b2b2;

// FONT SIZE
$small-font-size: 0.75rem;
$default-font-size: 1rem;
$big-font-size: 1.5rem;
$huge-font-size: 4rem;
