@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

header {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: $huge-font-size;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: $big-font-size;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
}

a {
  font-family: 'Inter', sans-serif;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}