#contact {
  padding: 0 auto;
  margin: 0px auto;
  color: $background-color;

  @include respond(tab-land) {
    padding: 0;
    clip-path: none;
    margin-top: 0;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 5px;
    padding-top: 4rem;

    @include respond(phone) {
      font-size: 2rem;
      align-items: center;
    }

    a {
      color: $primary-color;
      font-size: 2rem;

      &:hover {
        text-decoration: none;
        color: $accent-color;
      }
    }
  }
}
