#contact {
  padding: 0 auto;
  margin: 0px auto;
  background-color: $primary-color;
  color: $background-color;
  height: 100vh;

  @include respond(tab-land) {
    padding: 0;
    clip-path: none;
    margin-top: 0;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-top: 4rem;

    @include respond(phone) {
      font-size: 2rem;
      align-items: center;
    }

    a {
      font-size: $big-font-size;
      color: $background-color;
      border-left: 3px solid $background-color;
      padding-top: 0.5rem;

      &:hover {
        text-decoration: none;
        color: $accent-color;
      }
    }
  }
}
