#hero {
  min-height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 0px auto;
  background: $background-color;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;

  @include respond(phone) {
    font-size: 3rem;
  }

  .hero-head {
    a {
      font-size: $huge-font-size;
      color: $primary-color;

      &:hover {
        color: $accent-color;
      }
    }
  }

  .hero-h1 {
    color: $primary-color;
    text-align: left;
    padding-left: 10vw;
    line-height: 90%;
    font-size: $big-font-size;
    padding-top: 20vh;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $primary-color;

    a {
      font-size: $big-font-size;
      color: $primary-color;

      &:hover {
        font-style: italic;
      }
    }

    @include respond(tab-land) {
      font-size: $big-font-size;
      padding-left: 3px;
      max-width: 100%;
    }
    @include respond(tab-port) {
      font-size: $big-font-size;
      padding-left: 3px;
      max-width: 100%;
    }
    @include respond(phone) {
      font-size: $big-font-size;
      padding-left: 3px;
      max-width: 100%;
    }
    @include respond(phone-xs) {
      font-size: $big-font-size;
      padding-left: 3px;
      max-width: 100%;
    }
  }
}
